RAG_NFs.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1860,
        -800
      ],
      "id": "ef002bd4-0c62-43cf-95d7-41587d04b08b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -1420,
        -800
      ],
      "id": "4f8bc593-a397-4074-b6d2-08782b24ab7f",
      "name": "Compression",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fileSelector": "/dados/202401_NFs.zip",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1640,
        -800
      ],
      "id": "ff24bcdd-92a1-4ad9-bf2e-ece2a9f6d54f",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\nfor (const [key, binary] of Object.entries(items[0].binary)) {\n  newItems.push({\n    binary: {\n      data: binary\n    },\n    json: {\n      fileName: key\n    }\n  });\n}\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -800
      ],
      "id": "1c630a1d-59d6-4ba6-9f40-7f651dd36a26",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -760,
        -900
      ],
      "id": "2282d807-a6c5-4381-b7e0-99b0d6a9670d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "file_0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bb0e3090-9d89-4af8-b7a1-71fb1de5ce89"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9bfadb2c-a500-487e-9764-8c1dda0ddfd3",
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "file_1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -980,
        -800
      ],
      "id": "bc77c027-d783-46e1-b2d7-e5b0765007c8",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -760,
        -700
      ],
      "id": "5114b4a9-2ffc-43cd-a502-f75bf3546da2",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['CHAVE DE ACESSO']",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -540,
        -800
      ],
      "id": "5289f488-295f-4f82-b21a-83bf0553d5d3",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1860,
        -240
      ],
      "id": "463ef344-13c4-4bcb-8884-91965b39f13e",
      "name": "When chat message received",
      "webhookId": "244bef6d-51c1-4291-8a5f-071becbe48b0"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1600,
        -240
      ],
      "id": "e8521fd5-e773-4e72-9109-947d71c5b8f0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1640,
        -20
      ],
      "id": "0e40b1cd-6ecc-4eb7-bd9d-57a3b65c2bb1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ri3A975CE9MviN3N",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1520,
        -20
      ],
      "id": "ee8019df-baf8-48f0-85c4-00f0e2318bcb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_embeddings",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -320,
        -800
      ],
      "id": "724eb76b-6996-410e-9f05-03cbc561445a",
      "name": "Postgres PGVector Store",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "KnWOuFu4FpzUsZkk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -280,
        -580
      ],
      "id": "03b6ed04-8660-4695-9f46-8c2e2c00a075",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ri3A975CE9MviN3N",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -160,
        -580
      ],
      "id": "518a9a79-3530-4c42-9b0a-70acad2c9c62",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "RAG Postgres",
        "tableName": "n8n_embeddings",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -1400,
        -20
      ],
      "id": "db74a806-8f9e-4769-9d41-1f0c4b3dabde",
      "name": "Postgres PGVector Store1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "KnWOuFu4FpzUsZkk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1300,
        180
      ],
      "id": "2d344131-7e8c-4d62-80c8-eabda683f78b",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "ri3A975CE9MviN3N",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11147126-8235-4c54-bc3c-af8f317d6972",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c08698d8eda7a7e6ed72921968f1eae9cd92b0b2dd71d0b608936ae3d3a59b2"
  },
  "id": "z8mKV526ESq6vnC0",
  "tags": []
}